.top{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
}

.author{
    display: flex;
    align-items: center;
    gap: 10px;
}

.info{
    flex: 1;
}

.avatar{
    object-fit: cover;
    border-radius: 100%;
}

.imgContainer{
    position: relative;
    flex: 1;
}

.img{
    object-fit: cover;
}

.title{
    font-size: 30px;
    font-weight: bold;
    color: rgb(210, 205, 205);
}

.desc{
    color: #999;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content{
    margin-top: 50px;
    width: 1150px;
    text-align: justify;
}